<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zls.mappers.StudentMapper">
	
	<resultMap type="Student" id="studentResult">
		<id property="id" column="id" />
		<result property="name" column="name"/>
		<result property="age" column="age" />
	</resultMap>
	
	<select id="find" resultMap="studentResult">
		select * from t_student
		where 1=1
		<if test="name!=null">
			and name like #{name}
		</if>
		<if test="gradeId!=null">
			and gradeId=#{gradeId}
		</if>
	</select>
	
	<select id="find2" resultMap="studentResult">
		select * from t_student
	    <choose>
	    	<when test="searchBy=='gradeId'">
	    		where gradeId=#{gradeId}
	    	</when>
	    	<when test="searchBy=='name'">
	    		where name like #{name}
	    	</when>
	    	<otherwise>
	    		where age=#{age}
	    	</otherwise>
	    </choose>
	</select>
</mapper> 