<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zls.mappers.StudentMapper">
	<!--
    	1，size:表示缓存cache中能容纳的最大元素数。默认是1024；
    	2，flushInterval:定义缓存刷新周期，以毫秒计；
     	3，eviction:定义缓存的移除机制；默认是LRU(least recently userd，最近最少使用),还有FIFO(first in first out，先进先出)
     	4，readOnly:默认值是false，假如是true的话，缓存只能读。
     -->
	<cache size="1024" flushInterval="60000" eviction="LRU" readOnly="false"/>
	
	<resultMap type="Student" id="studentResult">
		<id property="id" column="id" />
		<result property="name" column="name"/>
		<result property="age" column="age" />
	</resultMap>
	
	<update id="add" parameterType="Student" flushCache="true">
		insert into t_student values(null,#{name},#{age},#{pic},#{remark})
	</update>
	
	<select id="findById" parameterType="Integer" resultType="Student">
		select * from t_student where id=#{id}
	</select>
	
	<select id="findStudents" resultType="Student">
		select * from t_student
	</select>
	
	<select id="findStudents2" parameterType="Map" resultType="Student">
		select * from t_student
		<if test="start!=null and pageSize!=null">
			limit #{start},#{pageSize}
		</if>
	</select>
	
</mapper> 